@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Playfair Display", serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    width: 100%;
    height: 6rem;
    background-color: #001d36;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #226580;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 400;
    gap: 5px;
}

li {
    float: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    white-space: nowrap;
    font-size: 1.15rem;
}

.container {
    width: 50%;
    min-height: 500px;
    margin: 80px auto;
    padding: 150px;
    background-color: #f1f7ff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #1d4f63;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.botao-voltar {
    display: inline-block;
    padding: 12px 30px;
    background-color: #1d5f74;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    transition: 0.3s;
}

.botao-voltar:hover {
    background-color: #174c5d;
}

  footer {
    margin-top: 20rem;
    background-color: #172335;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  footer p {
    font-size: 1rem;
  }